body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
	width: 90%;
}

.navbar {
  margin-bottom: 20px;
}

.box {
	border: 1px solid red;
}

hr {
	border: none;
	background-color: #333;
	height: 1px;
	color: #333;
}

.home-headline {
	font-family: "Times New Roman", Times, Serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: -13px;
	 
}

.home-headline span {
	background-color: #231F20;
	padding: 5px 20px;
}
.section-headline {
	font-family: "Times New Roman", Times, Serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: 120px;
	 
}

.section-headline span {
	background-color: #231F20;
	padding: 5px 20px;
}